<mat-toolbar role="heading">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ 'global.headline' | translate }}</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-list>
      <mat-list-item role="listitem" (click)="navigateToHome()">
        <mat-icon matListItemIcon>home</mat-icon>
        {{ 'global.menu.home' | translate }}</mat-list-item
      >
      <mat-divider></mat-divider>
      <mat-list-item role="listitem" (click)="navigateToVehicles()">
        <mat-icon matListItemIcon>car</mat-icon>
        {{ 'global.menu.vehicles' | translate }}</mat-list-item
      >
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="full-height">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
